*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}
body{
    background-color: #b9b4b4;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 50px;
}
h1{
    font-size: 35px;
}
.shown{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-right: 40px;
}
.shown li{
    list-style: none;

}
.shown li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 5px 10px;
    font-weight: 1000;
    border-radius: 10px;
}
.shown li a:hover{
    background-color: #3e0505;
    color: white;
}
.bar{
    display: none;
}
.hide{
    position: fixed;
    top: 50px;
    right: 40px;
    width: 250px;
    height: auto;
    background-color: rgba(0,0,0, 0.3);
    border-radius: 10px;
    box-shadow: -8px 10px 10px rgba(0,0,0, 0.5);
    backdrop-filter: blur(8px);
    display: none;
}
.hide li{
    list-style: none;
}
.hide li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 10px;
}
.hide li a:hover{
    background-color: #3e0505;
    color: white;
}

@media only screen and (max-width: 768px){
    .shown .mobile{
        display: none;
    }
    .bar{
        display: block;
    }
}